/******************** GRID/BODY ********************/
.container {
    width: 1400px;
    font-family: 'Varela Round', sans-serif;
    font-size: 24px;
    margin: 0 auto;
    color: #0b5959;
    line-height: 1.2;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
    float: left;
}

.third-width {
    width: 28.5%;
    float: left;
    text-align: center;
}

a {
    font-family: 'Bad Script', cursive;
}

/******************** HEADER ********************/

#hero {
    background: url("../img/hero-image.png") no-repeat;
    height: 800px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #d9d059;
    padding: 336px 0 0;
    margin: 0 auto 25px;
    text-align: center;
    text-transform: lowercase;
}

h2 {
    font-size: 48px;
    padding: 0 300px 177px;
    margin: 25px auto 0;
    font-weight: 400;
    text-align: center;
    color: #0b5959;
}


.nav a:hover {
    color:#d9d059;
}

/******************** PORTFOLIO ********************/
#portfolio {
    height: 895px;
    background-color: #f2f2f2;
}

h3 {
    font-family: 'Monteserrat', sans-serif;
    font-weight: 700;
    font-size: 36px;
    padding: 50px 0 50px;
    text-align: center;
    margin: 0;
    text-transform: lowercase;
    color: #d9d059;
}

#portfolio p {
    margin-top: 0;
    padding-right: 100px;
    width: 550px;
    color: #0b5959;
}

.title {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #0b5959;
}

.title a:hover {
    color: #d9d059;
}

.image img {
    border: 1px solid #0b5959;
}

.image img:last-of-type {
    margin-bottom: 25px;
}

.image {
    margin: 25px 25px 25px 0;
    padding-left: 125px;
    padding-right: 225px;
    width: 275px;
    height: 175px;
}

#portfolio a img:hover {
    border: 1px solid #d9d059;
}

.description {
    margin: 25px 0 25px 25px;
    height: 175px;
    width: 550px;
    padding-right: 125px;
}

#portfolio div:nth-child(6), #portfolio div:nth-child(7) {
    margin-bottom: 50px;
}

/******************** PROJECT PAGE/PROJECTS ********************/
#projects {
    height: 2000px;
    background-color: #f2f2f2;
}


#projects p {
    margin-top: 0;
    padding-right: 100px;
    width: 550px;
    color: #0b5959;
}

#projects a img:hover {
    border: 1px solid #d9d059;
}

/*#projects div:nth-child(6), #projects div:nth-child(7) {
    margin-bottom: 50px;
}*/

/******************** ABOUT ********************/
#about {
    background-color: #8aa6a1;
    height: 628px;
}

#about img {
    margin: 25px 25px 25px 0;
    padding-left: 100px;
}

#about p {
    padding-right: 100px;
    width: 550px;
    color: #ffffff;
}

#about > div:nth-child(3) {
    padding-bottom: 59px;
}

#about > ul > li > a, #about > ul {
    color: #ffffff;
}

#about > ul >li > a:hover {
    color: #d9d059;
}

.icon {
    text-align: end;
}

.flaticon-forrst {
    color: #ffffff;
    padding: 25px;
}

/******************** CONTACT ********************/
#contact {
    background-color: #088c8c;
    height: 328px;
}

#contact p {
    color: #f2f2f2;
}

#contact a:first-of-type {
    color: #f2f2f2;
}

#contact a:hover {
    color: #d9d059;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    display: inline;
    margin: 25px;
}

.third-width:first-of-type {
    padding-left: 100px;
}

#contact img:hover {
    background-color: #d9d059;
    border-radius: 5px;
}

/******************** FOOTER/COPYRIGHT ********************/

footer {
    font-size: 18px;
    background-color: #088c8c;
    text-align: center;
    color: #f2f2f2;
    padding: 10px;
    overflow: auto;
}

div.third-width.copy {
    width: 400px;
    padding: 28px 0;
}

.reg {
    font-size: 20px;
    vertical-align: -2px;
}

div.third-width.attribution {
    width: 500px;
    padding: 28px 50px;
}

footer a {
    color: #ffffff;
}

footer a:hover {
    color: #d9d059;
}

div.third-width.icon {
    width: 300px;
}

footer img {
    margin-right: 50px;
}

footer img:hover {
    background-color: #d9d059;
    border-radius: 5px;
}

