/******************** FONTS ********************/

@font-face {
    font-family: 'WisdomScriptAI';
    src: url('../fonts/WisdomScriptAI.svg') format('svg'),
         url('../fonts/WisdomScriptAI.ttf') format('truetype'),
         url('../fonts/WisdomScriptAI.woff') format('woff');
}
  
@font-face {
    font-family: 'wisdom_script';
    src: url('../fonts/wisdom_script.eot');
    src: url('../fonts/wisdom_script.eot?#iefix') format('embedded-opentype');
}

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/******************** GLOBAL ********************/

body {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-size: 16px;
}

.green {
    color: #77a466;
}

.full-width {
    width: 1200px;
    margin: 0 auto;
}

.header-full-width {
    width: 1240px;
    margin: 0 auto;
}

.half-width {
    width: 600px;
    float: left;
}

.nav-half-width {
    width: 640px;
    float: left;
    justify-content: right;
}

.third-width {
    width: 400px;
    float: left;
}


/******************** HEADER ********************/

header {
    height: 160px;
    justify-content: space-between;
    padding-left: 40px;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 0.676;
    padding-top: 50px;
}

nav {
    padding-top: 50px;
}

nav ul {
    float: right;
}

nav ul li {
    padding-left: 30px;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.643;
    list-style: none;
}
    
/******************** INTRO ********************/

#hero {
    height: 507px;
}

img {
    border-top: 3px solid #77a466;
    border-bottom: 3px solid #77a466;
}

h2 {
    font-size: 18px;
    color: #77a466;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.278;
    margin: 30px 0;
  }
  
.full-width p {
    line-height: 1.563;
    margin: 0;
} 

/******************** SPECIALS/REVIEWS/CONTACT ********************/
#content {
    height: 225px;
    border-top: 1px solid #dedbdc;
    border-bottom: 1px solid #dedbdc;   
}

h3 {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 30px 0 30px 0;
    line-height: 2.083;
}
  
/******************** SPECIALS ********************/

#specials ul li {
    list-style: none;
    line-height: 1.125;
    margin: 0 0 30px -40px;
}  

/******************** REVIEWS ********************/ 

#reviews p {
    line-height: 1.313;
  }
  
/******************** CONTACT ********************/

#contact p {
    line-height: 1.5;
}
  
/******************** FOOTER ********************/

#wisdom {
    font-family: "WisdomScriptAI", "wisdom_script";
    text-transform: lowercase;
}

footer {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.438;
    padding: 34px 0 34px 0;
    text-align: center;
}
  