body {
  background: black;
  color: white;
}

/* ----------- For screens 768px and larger ----------- */
@media (min-width: 768px) {
	body {
    background: grey;
    color: white;
  }
}

/* ----------- For screens 1200px wide and larger----------- */
@media (min-width: 1200px) {
  body {
    background: white;
    color: black;
  }
}
