:root {
  --yellow: #FFF44F;
  --white: #FFFFFF;
  --lightGrey: #E8E8E8;
  --darkGrey: #3B3B3B;
  --montserrat: 'Montserrat', sans-serif;
  --permanentMarker: 'Permanent Marker', cursive;
  --small: 20px;
  --medium: 30px;
  --large: 38px;
}

body {
  background-color: var(--lightGrey);
}

#vision-board {
  width: 1200px;
  height: 850px;
  margin: 0 auto;
  overflow: hidden;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--montserrat);
  text-transform: uppercase;
  font-size: var(--small);
}

.block {
  float: left;
  width: 400px;
  box-sizing: border-box;
}

.small-block {
  height: 210px;
}

#vision-board > div:nth-of-type(7) > p {
  padding: 10px;
}


.small-block.center img {
  padding: 32px;
}

.small-block.center img[alt="dog"] {
  padding-top: 45px;
}

.large-block {
  height: 430px;
}

.small-block.center.light-bg {
  padding: 45px 50px;
}

.small-block.left {
  padding: 12px 50px 62px 50px;
}

.small-block.right {
  padding: 25px 50px;
}

.large-block.left {
  padding: 58px 50px;
}

.large-block.right {
  padding: 78px 50px 0 0;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.light-bg {
  background-color: var(--white);
}

.dark-bg {
  background-color: var(--darkGrey);
}

.title {
    color: var(--white);
    font-size: var(--medium);
    font-family: var(--permanentMarker);
    padding: 78px;
}

.title span {
  font-family: var(--montserrat);
}

.yellow {
  background-color: var(--yellow);
  padding: 5px 15px;
  display: inline-block;
  margin: 20px 0;
}

.medium {
  font-size: var(--medium);
}

strong {
  font-size: var(--large);
  text-transform: capitalize;
}
