:root {
  --Color_lightBlue: #DAF7F6;
  --Color_red: #F16059;
  --Color_white: #FFFFFF;
  --Color_darkGrey: #3B3B3B;
  --Font_main: 'Open Sans';
  --Font_accent: 'Montserrat';
  --Size_small: 12px;
  --Size_medium: 24px;
  --Size_large: 48px;
}

body {
  background-color: var(--Color_lightBlue);
  color: var(--Color_darkGrey);
  font-family: var(--Font_main);
  font-size: var(--Size_small);
  line-height: 16px;
}

header {
  background-color: var(--Color_white);
  text-align: center;
}

header img {
  margin-right: 1em;
}

h1 {
  display: inline-block;
  padding: 32px 0;
  margin: 0;
  font-family: var(--Font_accent);
  color: var(--Color_red);
  font-size: var(--Size_large);
  font-weight: bold;
  text-transform: uppercase;
}

main {
  max-width: 1000px;
  margin: 0 auto;
}

.card {
  margin: 2em 0;
  overflow: hidden;
}

.image {
  float: left;
  width: 500px;
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
}

#cookies .image {
  background-image: url("../img/gluten-free-sugar-cookies.jpg");
}

#pesto .image {
  background-image: url("../img/nut-free-pesto.jpg");
}

#salad .image {
  background-image: url("../img/watermelon-salad.jpg");
}

.recipe {
  float: right;
  width: 500px;
  height: 550px;
  padding: 20px;
  background-color: var(--Color_white);
  box-sizing: border-box;
}

.recipe h2 {
  color: var(--Color_red);
  font-size: var(--Size_medium);
  font-family: var(--Font_accent);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 32px;
  padding-bottom: 17px;
  margin: 0;
}

.time {
  margin-bottom: 1em;
  border: 1px var(--Color_darkGrey) solid;
  overflow: hidden;
}

.prep, .cook, .total {
  float: left;
  padding-left: 6px;
  width: 33.3%;
  box-sizing: border-box;
  text-transform: uppercase;
}

.time .cook {
  border-left: 1px var(--Color_darkGrey) solid;
  border-right: 1px var(--Color_darkGrey) solid;
}

.time img {
  width: 15px;
  height: auto;
  margin-right: 7px;
  vertical-align: middle;
}

.time-details {
  display: inline-block;
  margin: 0;
  padding: 7px 0 7px 0;
}

.time strong {
  font-family: var(--Font_accent);
}

.columns {
  overflow: hidden;
}

.directions {
  float: left;
  width: 240px;
}

.ingredients {
  float: left;
  width: 205px;
  margin-right: 1em;
}

.recipe h3 {
  padding: 2px 1em 4px 1em;
  border-top: 1px var(--Color_darkGrey) solid;
  border-bottom: 1px var(--Color_darkGrey) solid;
  font-size: var(--Size_small);
  font-weight: bold;
  text-transform: uppercase;
  /* margin-bottom: 17px; */
  color: var(--Color_red);
}

.ingredients ul {
  padding-left: 15px;
  line-height: 25px;
  list-style: square;
}

.directions ol {
  padding-left: 15px;
  line-height: 25px;
}
